<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>Currency Converter</title>
</head>
<body>
    {% for category, msg in get_flashed_messages(with_categories=true) %}
    <p class="{{category}}">{{msg}}</p>
    {% endfor %}
    <h1>Currency Converter</h1>

    <form action="/calc-curr" method="POST">
        <label for="first">Converting from</label>
        <input type="text" id="first" name="first">
        <br>
        <label for="to">Converting to</label>
        <input type="text" id="to" name="to">
        <br>
        <label for="amount">Amount</label>
        <input type="text" id="amount" name="amount">
        <br>
        <button>Convert</button>
    </form>

    <p>{{rate}}</p>
    {% if not session['solution'] == [] %}
    {% for item in session['solution'] %}
    <p>The result is {{item}}.</p>
    {% endfor %}
    {% endif %}


</body>
</html>